Flows/backup_2017-03-16T00_53_29_flows_RaspberryPi.json
[{"id":"46ad0f90.f2e8f","type":"tab","label":"Startup"},{"id":"32844adc.db94a6","type":"tab","label":"Temperature"},{"id":"9f0825a9.3c4ab8","type":"tab","label":"Warning LIght"},{"id":"7394461f.c592b8","type":"tab","label":"Dosing Mgmt"},{"id":"dad5d260.d267e","type":"tab","label":"Sandbox"},{"id":"50afdb76.ed9f74","type":"tab","label":"Configuration"},{"id":"1fe8200e.21c624","type":"tab","label":"Flow 1"},{"id":"3eb9c5c7.8e8d6a","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#7abb54","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"AquaEscape","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":2,"py":2}}},{"id":"48cba5c3.abb1cc","type":"nodebot","z":"","name":"Raspberry Pi","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"148b1bee.270d54","type":"ui_group","z":"","name":"Schedule","tab":"a0b6dffb.c6749","order":2,"disp":true,"width":"6"},{"id":"a0b6dffb.c6749","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"c720ddb3.26805","type":"ui_tab","z":"","name":"Configuration","icon":"book","order":3},{"id":"908dec65.54be3","type":"ui_group","z":"","name":"Sensor","tab":"c720ddb3.26805","order":3,"disp":true,"width":"6"},{"id":"63980a12.cc7494","type":"mqtt-broker","z":"","broker":"10.0.0.23","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"376ad137.e95a4e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"AquaEscape","name":"AquaEscape"},{"id":"9b93381.61c82c8","type":"ui_group","z":"","name":"Dosing","tab":"a0b6dffb.c6749","order":1,"disp":true,"width":"6"},{"id":"7f703371.9503ec","type":"ui_group","z":"","name":"Dosing","tab":"c720ddb3.26805","order":1,"disp":true,"width":"6"},{"id":"9d1ec242.3946a","type":"ui_tab","z":"","name":"Calibration - begin","icon":"dashboard","order":4},{"id":"82ea6ce3.b2e8","type":"ui_group","z":"","name":"Dosing","tab":"9d1ec242.3946a","order":1,"disp":true,"width":"6"},{"id":"64e05a9b.a371d","type":"ui_tab","z":"","name":"Calibration - measure","icon":"dashboard","order":6},{"id":"1d57d564.240d5b","type":"ui_tab","z":"","name":"Calibration - dose","icon":"dashboard","order":5},{"id":"71d4bd83.cce9fc","type":"ui_tab","z":"","name":"Calibration - results","icon":"dashboard","order":7},{"id":"eafc1b22.3c0ff8","type":"ui_group","z":"","name":"Group 1","tab":"1d57d564.240d5b","order":1,"disp":false,"width":"10"},{"id":"a07f7389.17d8f","type":"ui_group","z":"","name":"Group 1","tab":"64e05a9b.a371d","order":1,"disp":false,"width":"8"},{"id":"ddcb8d8b.a7458","type":"ui_group","z":"","name":"Results","tab":"71d4bd83.cce9fc","order":1,"disp":true,"width":"8"},{"id":"7eba0db5.3576b","type":"ui_group","z":"","name":"defcon","tab":"3d7b51ec.db7ac2","order":5,"disp":true,"width":"6"},{"id":"3d7b51ec.db7ac2","type":"ui_tab","z":"7394461f.c592b8","name":"overzicht","icon":"all_out","order":1},{"id":"d229014f.98d578","type":"ui_group","z":"","name":"Default","tab":"de5afe8f.daa7","disp":true,"width":"6"},{"id":"de5afe8f.daa7","type":"ui_tab","z":"","name":"tests","icon":"dashboard"},{"id":"c9304b71.bbd0e","type":"ui_group","z":"","name":"Notifications","tab":"91a56e9c.7bb52","order":3,"disp":true,"width":"6"},{"id":"91a56e9c.7bb52","type":"ui_tab","z":"","name":"UPS1","icon":"dashboard","order":2},{"id":"d65fa06a.d9342","type":"ui_group","z":"","name":"Dosing Pumps","tab":"a0b6dffb.c6749","order":3,"disp":true,"width":"6"},{"id":"9c5a40e0.5ac37","type":"johnny5","z":"32844adc.db94a6","name":"Raspberry Pi","func":"","board":"48cba5c3.abb1cc","noerr":0,"x":170,"y":160,"wires":[["a56b9290.70202"]]},{"id":"a56b9290.70202","type":"debug","z":"32844adc.db94a6","name":"","active":true,"console":"false","complete":"payload","x":410,"y":160,"wires":[]},{"id":"8eda404b.00699","type":"ui_switch","z":"32844adc.db94a6","name":"","label":"Clear Alert","group":"148b1bee.270d54","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"radio_button_checked","oncolor":"","offvalue":"0","offvalueType":"num","officon":"fa-bolt","offcolor":"","x":610,"y":320,"wires":[["d56316a2.59b5e8"]]},{"id":"d56316a2.59b5e8","type":"rpi-gpio out","z":"32844adc.db94a6","name":"LED","pin":"16","set":true,"level":"0","out":"out","x":770,"y":320,"wires":[]},{"id":"4a3e1296.d4493c","type":"ds18b20","z":"32844adc.db94a6","name":"Temp","sensorid":"28-0115a3ea05ff","timer":".1","x":130,"y":500,"wires":[["cf2d9801.1a4cc8"]]},{"id":"cf2d9801.1a4cc8","type":"function","z":"32844adc.db94a6","name":"C to F","func":"var tempc = msg.payload;\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n    msg.payload = tempf;\n    return msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["8b2c888e.6d8758","32119e14.cd37f2","2396d63b.be31ea","a3b087e.641be78","4a0a42cc.e7050c","c5038467.7d9628"]]},{"id":"8b2c888e.6d8758","type":"ui_chart","z":"32844adc.db94a6","name":"","group":"148b1bee.270d54","order":0,"width":0,"height":0,"label":"Tank Temp &deg; F","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":550,"y":420,"wires":[[],[]]},{"id":"32119e14.cd37f2","type":"ui_text","z":"32844adc.db94a6","group":"148b1bee.270d54","order":0,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}&deg; F","layout":"row-left","x":550,"y":500,"wires":[]},{"id":"8edb9372.455d1","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/maxTemp","label":"Max Temp","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/maxTemp","x":350,"y":120,"wires":[["398afc0f.d7d634"]]},{"id":"398afc0f.d7d634","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/maxTemp","func":"\nglobal.set('Config/maxTemp',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":645,"y":119,"wires":[["daf70a4d.ce0ca8"]]},{"id":"2396d63b.be31ea","type":"link out","z":"32844adc.db94a6","name":"TankTemp","links":[],"x":355,"y":680,"wires":[]},{"id":"eb8ba69f.6373a8","type":"mqtt in","z":"9f0825a9.3c4ab8","name":"","topic":"Sensor\\TankTemp","qos":"2","broker":"63980a12.cc7494","x":130,"y":120,"wires":[["dd5711e7.8ea29"]]},{"id":"a3b087e.641be78","type":"mqtt out","z":"32844adc.db94a6","name":"","topic":"Sensor\\TankTemp","qos":"0","retain":"false","broker":"63980a12.cc7494","x":590,"y":660,"wires":[]},{"id":"80cecb26.5dccb8","type":"mqtt in","z":"32844adc.db94a6","name":"","topic":"Alert/maxTempExceeded","qos":"2","broker":"63980a12.cc7494","x":170,"y":320,"wires":[["3c68cdf8.2165f2"]]},{"id":"6cdbcf48.92ca8","type":"switch","z":"9f0825a9.3c4ab8","name":"maxTemp Exceeded","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"Config/maxTemp","vt":"global"},{"t":"else"}],"checkall":"false","outputs":2,"x":580,"y":120,"wires":[["93c58c55.491f5","e10b61e1.e4b02"],["3ab93c67.0177d4"]]},{"id":"93c58c55.491f5","type":"mqtt out","z":"9f0825a9.3c4ab8","name":"Alert/maxTempExceeded","topic":"Alert/maxTempExceeded","qos":"0","retain":"false","broker":"63980a12.cc7494","x":942,"y":116,"wires":[]},{"id":"3c68cdf8.2165f2","type":"function","z":"32844adc.db94a6","name":"payload 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["8eda404b.00699"]]},{"id":"dd5711e7.8ea29","type":"function","z":"9f0825a9.3c4ab8","name":"Msg to Float","func":"msg.payload = parseFloat(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["6cdbcf48.92ca8"]]},{"id":"e10b61e1.e4b02","type":"debug","z":"9f0825a9.3c4ab8","name":"yes","active":false,"console":"false","complete":"payload","x":890,"y":200,"wires":[]},{"id":"3ab93c67.0177d4","type":"debug","z":"9f0825a9.3c4ab8","name":"no","active":false,"console":"false","complete":"payload","x":890,"y":240,"wires":[]},{"id":"4a0a42cc.e7050c","type":"influxdb out","z":"32844adc.db94a6","influxdb":"376ad137.e95a4e","name":"Sensor/TankTemp","measurement":"Sensor/TankTemp","x":590,"y":580,"wires":[]},{"id":"c5038467.7d9628","type":"debug","z":"32844adc.db94a6","name":"","active":false,"console":"false","complete":"false","x":570,"y":760,"wires":[]},{"id":"863ef80b.601da8","type":"bigtimer","z":"7394461f.c592b8","outtopic":"","outpayload1":"On","outpayload2":"Off","name":"Macro Dosing Timer","lat":"39.9568 N","lon":"86.0134 W","starttime":"1230","endtime":"5003","startoff":"+3","endoff":"-119","offs":0,"outtext1":"Macro Dosing On","outtext2":"Macro Dosing Off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"x":400,"y":280,"wires":[["9637bcac.dbb1a"],[],[]]},{"id":"a744717b.603f2","type":"inject","z":"7394461f.c592b8","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":116,"y":130,"wires":[["863ef80b.601da8"]]},{"id":"9637bcac.dbb1a","type":"trigger","z":"7394461f.c592b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"15","extend":false,"units":"s","reset":"","name":"","x":602,"y":267,"wires":[["ed903aff.63e788","cba3c686.8caf28"]]},{"id":"11bd00e1.bfffcf","type":"inject","z":"7394461f.c592b8","name":"Manual","topic":"","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"x":132,"y":393,"wires":[["863ef80b.601da8"]]},{"id":"6068f0e3.0e9c2","type":"inject","z":"7394461f.c592b8","name":"Auto","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":123,"y":270,"wires":[["863ef80b.601da8"]]},{"id":"a4be14a6.c72398","type":"inject","z":"7394461f.c592b8","name":"Off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":125,"y":196,"wires":[["863ef80b.601da8"]]},{"id":"37410f0c.27b91","type":"inject","z":"7394461f.c592b8","name":"Stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":328,"wires":[["863ef80b.601da8"]]},{"id":"ed903aff.63e788","type":"debug","z":"7394461f.c592b8","name":"Macro Pump","active":true,"console":"false","complete":"payload","x":827,"y":176,"wires":[]},{"id":"ecfdff08.cc199","type":"ui_button","z":"7394461f.c592b8","name":"MacroDoseOn","group":"9b93381.61c82c8","order":3,"width":"1","height":"1","label":"On","color":"","bgcolor":"","icon":"fa-power-on","payload":"1","payloadType":"str","topic":"","x":160,"y":60,"wires":[["863ef80b.601da8"]]},{"id":"50383d7f.d9d534","type":"ui_switch","z":"7394461f.c592b8","name":"","label":"Manual","group":"9b93381.61c82c8","order":4,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"fa-power-on","oncolor":"","offvalue":"off","offvalueType":"str","officon":"fa-power-off","offcolor":"","x":136,"y":525,"wires":[["863ef80b.601da8"]]},{"id":"e2ea82b1.47e0a","type":"file in","z":"46ad0f90.f2e8f","name":"flows_vps.json","filename":"/root/.node-red/flows_RaspberryPi.json","format":"utf8","x":360,"y":120,"wires":[["8335c374.4d82b"]]},{"id":"5fb64320.67fb3c","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":690,"y":120,"wires":[]},{"id":"26f80c2e.ea87d4","type":"inject","z":"46ad0f90.f2e8f","name":"","topic":"","payload":"restarted","payloadType":"str","repeat":"","crontab":"","once":true,"x":134,"y":113,"wires":[["e2ea82b1.47e0a","f9e92ebf.2f3cd"]]},{"id":"8335c374.4d82b","type":"function","z":"46ad0f90.f2e8f","name":"","func":"msg.filename = \"/root/.node-red/backups/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_RaspberryPi.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["5fb64320.67fb3c"]]},{"id":"f9e92ebf.2f3cd","type":"file in","z":"46ad0f90.f2e8f","name":"flows_vps_cred.json","filename":"/root/.node-red/flows_RaspberryPi_cred.json","format":"utf8","x":360,"y":180,"wires":[["e3166661.763cb8"]]},{"id":"ada313af.c5fe4","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":690,"y":180,"wires":[]},{"id":"e3166661.763cb8","type":"function","z":"46ad0f90.f2e8f","name":"","func":"msg.filename = \"/root/.node-red/backups/backup_\"+(new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_flows_RaspberryPi_cred.json\";\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["ada313af.c5fe4"]]},{"id":"6b0a7a1d.784df4","type":"ui_dropdown","z":"7394461f.c592b8","name":"","label":"Pump Mode","group":"9b93381.61c82c8","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Auto","value":"auto","type":"str"},{"label":"Manual","value":"manual","type":"str"},{"label":"Stop","value":"stop","type":"str"}],"payload":"","topic":"","x":121,"y":455,"wires":[["863ef80b.601da8"]]},{"id":"cba3c686.8caf28","type":"switch","z":"7394461f.c592b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":796,"y":361,"wires":[["2e02ce73.e79ed2"]]},{"id":"2e02ce73.e79ed2","type":"trigger","z":"7394461f.c592b8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":false,"units":"s","reset":"","name":"","x":831,"y":438,"wires":[["11ba56b0.d889e9"]]},{"id":"11ba56b0.d889e9","type":"debug","z":"7394461f.c592b8","name":"Micro Pump","active":true,"console":"false","complete":"payload","x":837,"y":516,"wires":[]},{"id":"9065f249.161c4","type":"link in","z":"50afdb76.ed9f74","name":"Config/maxTemp","links":["2bea0eef.912692"],"x":195,"y":120,"wires":[["8edb9372.455d1"]]},{"id":"2aa0efc0.47399","type":"link in","z":"50afdb76.ed9f74","name":"Config/minTemp","links":["a5d12279.df46d"],"x":195,"y":160,"wires":[["4628c713.ecb228"]]},{"id":"b9a2ca62.549ee8","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/minTemp","func":"\nglobal.set('Config/minTemp',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["daf70a4d.ce0ca8"]]},{"id":"4628c713.ecb228","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/minTemp","label":"Min Temp","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/minTemp","x":340,"y":160,"wires":[["b9a2ca62.549ee8"]]},{"id":"8331c54d.b61bf8","type":"inject","z":"46ad0f90.f2e8f","name":"Daily backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 2 * * *","once":false,"x":140,"y":400,"wires":[["843f4cd3.b38be"]]},{"id":"843f4cd3.b38be","type":"function","z":"46ad0f90.f2e8f","name":"Prep data","func":"var globallist = \"dosepumpMacroCalibration;Config/minTemp;Config/maxTemp;Config/maxWaterLevel;Config/minWaterLevel;Config/macroDoseDuration;Config/microDoseDuration\";\n// global variables separated by semicolon to be saved\n\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n      \n      \nmsg.payload = outputs;\nreturn msg;\n\n//msg.payload=typeof global.get(\"torrent_keywords\");\n","outputs":1,"noerr":0,"x":360,"y":400,"wires":[["db938ad4.534408"]]},{"id":"fbc5c818.24e1e8","type":"comment","z":"46ad0f90.f2e8f","name":"Save global variables","info":"","x":148,"y":300,"wires":[]},{"id":"3ae7bc7e.55fee4","type":"comment","z":"46ad0f90.f2e8f","name":"Restore global variables","info":"","x":158,"y":441,"wires":[]},{"id":"b0ac0316.4b86d","type":"inject","z":"46ad0f90.f2e8f","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":117,"y":489,"wires":[["c7c7cca4.fe62c"]]},{"id":"327af785.da2758","type":"file","z":"46ad0f90.f2e8f","name":"","filename":"/home/pi/global.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":760,"y":400,"wires":[]},{"id":"c7c7cca4.fe62c","type":"file in","z":"46ad0f90.f2e8f","name":"","filename":"/home/pi/global.json","format":"utf8","x":338,"y":488,"wires":[["7b5e7123.d1dd9"]]},{"id":"c2cb96a.7fcef68","type":"function","z":"46ad0f90.f2e8f","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":717,"y":489,"wires":[["24c37cef.9726e4","cc4bfd8c.81f4","4ec1ea27.06e114","80128ab2.d2a6c8","f31b4d21.570fa","a9e51d59.56353","6d9d5bd3.f70164"]]},{"id":"db938ad4.534408","type":"json","z":"46ad0f90.f2e8f","name":"","x":530,"y":400,"wires":[["327af785.da2758"]]},{"id":"7b5e7123.d1dd9","type":"json","z":"46ad0f90.f2e8f","name":"","x":544,"y":488,"wires":[["c2cb96a.7fcef68"]]},{"id":"24c37cef.9726e4","type":"function","z":"46ad0f90.f2e8f","name":"Config/maxTemp restore","func":"msg.topic = \"Config/maxTemp\";\nmsg.payload = global.get(\"Config/maxTemp\");\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":500,"wires":[["2bea0eef.912692"]]},{"id":"cc4bfd8c.81f4","type":"function","z":"46ad0f90.f2e8f","name":"Config/minTemp restore","func":"msg.topic = \"Config/minTemp\";\nmsg.payload = global.get(\"Config/minTemp\");\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":540,"wires":[["a5d12279.df46d"]]},{"id":"2bea0eef.912692","type":"link out","z":"46ad0f90.f2e8f","name":"Config/maxTemp","links":["9065f249.161c4"],"x":1195,"y":500,"wires":[]},{"id":"a5d12279.df46d","type":"link out","z":"46ad0f90.f2e8f","name":"Config/minTemp","links":["2aa0efc0.47399"],"x":1195,"y":540,"wires":[]},{"id":"daf70a4d.ce0ca8","type":"mqtt out","z":"50afdb76.ed9f74","name":"persistContext","topic":"persistContext","qos":"1","retain":"false","broker":"63980a12.cc7494","x":1040,"y":200,"wires":[]},{"id":"eb9fa357.8ce81","type":"mqtt in","z":"46ad0f90.f2e8f","name":"persistContext","topic":"persistContext","qos":"2","broker":"63980a12.cc7494","x":140,"y":340,"wires":[["843f4cd3.b38be","72946509.2ae038"]]},{"id":"80128ab2.d2a6c8","type":"function","z":"46ad0f90.f2e8f","name":"Config/maxWaterLevel restore","func":"msg.topic = \"Config/maxWaterLevel\";\nmsg.payload = global.get(\"Config/maxWaterLevel\");\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":620,"wires":[["e0ed8577.bf9788"]]},{"id":"e0ed8577.bf9788","type":"link out","z":"46ad0f90.f2e8f","name":"Config/maxWaterLevel","links":["f95e7892.487498"],"x":1195,"y":620,"wires":[]},{"id":"4ec1ea27.06e114","type":"function","z":"46ad0f90.f2e8f","name":"Config/minWaterLevel restore","func":"msg.topic = \"Config/minWaterLevel\";\nmsg.payload = global.get(\"Config/minWaterLevel\");\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":580,"wires":[["752185f1.3e997c"]]},{"id":"752185f1.3e997c","type":"link out","z":"46ad0f90.f2e8f","name":"Config/minWaterLevel","links":["f954ddc.59c532"],"x":1195,"y":580,"wires":[]},{"id":"f954ddc.59c532","type":"link in","z":"50afdb76.ed9f74","name":"Config/minWaterlevel","links":["752185f1.3e997c"],"x":195,"y":200,"wires":[["60b4a619.683b48"]]},{"id":"809504e7.2b4738","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/minWaterLevel","func":"\nglobal.set('Config/minWaterLevel',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["daf70a4d.ce0ca8"]]},{"id":"60b4a619.683b48","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/minWaterLevel","label":"Min Water Level","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/minWaterLevel","x":360,"y":200,"wires":[["809504e7.2b4738"]]},{"id":"f95e7892.487498","type":"link in","z":"50afdb76.ed9f74","name":"Config/maxWaterlevel","links":["e0ed8577.bf9788"],"x":195,"y":240,"wires":[["5c773115.cfda9"]]},{"id":"ca4788a3.c1d888","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/maxWaterLevel","func":"\nglobal.set('Config/maxWaterLevel',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["daf70a4d.ce0ca8"]]},{"id":"5c773115.cfda9","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/maxWaterLevel","label":"Max Water Level","group":"908dec65.54be3","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/maxWaterLevel","x":360,"y":240,"wires":[["ca4788a3.c1d888"]]},{"id":"f31b4d21.570fa","type":"function","z":"46ad0f90.f2e8f","name":"Config/microDoseDuration","func":"msg.topic = \"Config/microDoseDuration\";\nmsg.payload = global.get(\"Config/microDoseDuration\");\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":700,"wires":[["d9b3fe1e.10d8b"]]},{"id":"d9b3fe1e.10d8b","type":"link out","z":"46ad0f90.f2e8f","name":"Config/microDoseDuration","links":["126a5f2d.543911"],"x":1195,"y":700,"wires":[]},{"id":"a9e51d59.56353","type":"function","z":"46ad0f90.f2e8f","name":"Config/macroDoseDuration","func":"msg.topic = \"Config/macroDoseDuration\";\nmsg.payload = global.get(\"Config/macroDoseDuration\");\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":660,"wires":[["ab91260d.0d8b28"]]},{"id":"ab91260d.0d8b28","type":"link out","z":"46ad0f90.f2e8f","name":"Config/macroDoseDuration","links":["5ec116b3.3c4dd8"],"x":1195,"y":660,"wires":[]},{"id":"5ec116b3.3c4dd8","type":"link in","z":"50afdb76.ed9f74","name":"Config/macroDoseDuration","links":["ab91260d.0d8b28"],"x":195,"y":280,"wires":[["609e1270.edf75c"]]},{"id":"fca86db1.7e51f","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/macroDoseDuration","func":"\nglobal.set('Config/macroDoseDuration',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["daf70a4d.ce0ca8"]]},{"id":"609e1270.edf75c","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/macroDoseDuration","label":"Macro Dose Duration","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/macroDoseDuration","x":380,"y":280,"wires":[["fca86db1.7e51f"]]},{"id":"126a5f2d.543911","type":"link in","z":"50afdb76.ed9f74","name":"Config/microDoseDuration","links":["d9b3fe1e.10d8b","2740d13.9acca2e"],"x":195,"y":320,"wires":[["f65fbc95.5bb2a"]]},{"id":"94a7cd08.9a809","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/microDoseDuration","func":"\nglobal.set('Config/microDoseDuration',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["daf70a4d.ce0ca8"]]},{"id":"f65fbc95.5bb2a","type":"ui_text_input","z":"50afdb76.ed9f74","name":"Config/microDoseDuration","label":"Macro Dose Duration","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"Config/microDoseDuration","x":380,"y":320,"wires":[["94a7cd08.9a809"]]},{"id":"6c913929.5f04e8","type":"catch","z":"46ad0f90.f2e8f","name":"","scope":null,"x":120,"y":40,"wires":[["90fcfb46.95b9b8"]]},{"id":"90fcfb46.95b9b8","type":"debug","z":"46ad0f90.f2e8f","name":"","active":false,"console":"false","complete":"payload","x":290,"y":40,"wires":[]},{"id":"759fa78d.abbbf8","type":"function","z":"46ad0f90.f2e8f","name":"Persist Context","func":"if (msg.payload===undefined)\n{\nvar stat = {\nmax_humidity : 100,\ndaynow: 1\n};\nglobal.set('config', stat);\nmsg.payload=JSON.stringify(stat);\nnode.send([msg,null]);\n}\nelse\n{\nglobal.set('config',JSON.parse(msg.payload));\n}","outputs":1,"noerr":0,"x":180,"y":620,"wires":[[]]},{"id":"6d17ca3f.6d6b84","type":"ui_dropdown","z":"7394461f.c592b8","name":"Select Pump","label":"Select Pump","group":"82ea6ce3.b2e8","order":1,"width":"6","height":"2","passthru":true,"options":[{"label":"Macro","value":"Macro","type":"str"},{"label":"Micro","value":"Micro","type":"str"},{"label":"Excel","value":"Excel","type":"str"}],"payload":"","topic":"pump","x":131.04998779296875,"y":995.7899932861328,"wires":[["c3148882.6c9428","6fae67db.a78e8"]]},{"id":"3831c643.ebee1a","type":"ui_text_input","z":"7394461f.c592b8","name":"","label":"Result (ml)","group":"a07f7389.17d8f","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"ml","x":122.62997436523438,"y":1378.9399719238281,"wires":[["29942f3f.cdf5ac"]]},{"id":"1f765354.78556d","type":"gpio out","z":"7394461f.c592b8","name":"Macro Pump","state":"OUTPUT","pin":"13","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"48cba5c3.abb1cc","x":1190,"y":520,"wires":[]},{"id":"c3148882.6c9428","type":"function","z":"7394461f.c592b8","name":"Set Flow Var","func":"flow.set('pumpSelection', msg.payload);\nmsg.topic = 'enabled';\nmsg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":346.8399963378906,"y":993.6799545288086,"wires":[[]]},{"id":"9447146c.f508a8","type":"link in","z":"50afdb76.ed9f74","name":"dosepumpMacroCalibration","links":["d953aa1b.e61238","bb10cd33.4850d"],"x":195,"y":360,"wires":[["fcaf736b.79888"]]},{"id":"42e0b12b.fdd1a","type":"function","z":"50afdb76.ed9f74","name":"Persist Config/dosepumpMacroCalibration","func":"\nglobal.set('dosepumpMacroCalibration',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":360,"wires":[["daf70a4d.ce0ca8","acb76411.94c3d"]]},{"id":"fcaf736b.79888","type":"ui_text_input","z":"50afdb76.ed9f74","name":"dosepumpMacroCalibration","label":"Macro Dose Calibration","group":"7f703371.9503ec","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"dosepumpMacroCalibration","x":380,"y":360,"wires":[["42e0b12b.fdd1a"]]},{"id":"6d9d5bd3.f70164","type":"function","z":"46ad0f90.f2e8f","name":"dosepumpMacroCalibration","func":"msg.topic = \"dosepumpMacroCalibration\";\nmsg.payload = global.get(\"dosepumpMacroCalibration\");\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":740,"wires":[["d953aa1b.e61238"]]},{"id":"d953aa1b.e61238","type":"link out","z":"46ad0f90.f2e8f","name":"dosepumpMacroCalibration","links":["9447146c.f508a8"],"x":1195,"y":740,"wires":[]},{"id":"fb10f041.53a8d","type":"ui_ui_control","z":"7394461f.c592b8","name":"ui control","x":322.47998046875,"y":958.1300048828125,"wires":[[]]},{"id":"3f5241a7.72551e","type":"ui_button","z":"7394461f.c592b8","name":"","group":"82ea6ce3.b2e8","order":3,"width":0,"height":0,"label":"Next Page","color":"white","bgcolor":"","icon":"fa-arrow-circle-o-right","payload":"Calibration - dose","payloadType":"str","topic":"","x":136.14999389648438,"y":958.1099853515625,"wires":[["fb10f041.53a8d"]]},{"id":"52a17080.2997c4","type":"ui_ui_control","z":"7394461f.c592b8","name":"ui control","x":321.05999755859375,"y":1091.8399353027344,"wires":[[]]},{"id":"b238f18d.29a83","type":"ui_button","z":"7394461f.c592b8","name":"","group":"eafc1b22.3c0ff8","order":6,"width":"3","height":"1","label":"Start Over","color":"white","bgcolor":"","icon":"fa-retweet","payload":"Calibration - begin","payloadType":"str","topic":"","x":131.58001708984375,"y":1117.1099243164062,"wires":[["52a17080.2997c4"]]},{"id":"eabac88d.312a1","type":"comment","z":"7394461f.c592b8","name":"Calibration - begin","info":"","x":117.20999145507812,"y":896.5299453735352,"wires":[]},{"id":"933497b7.92e678","type":"comment","z":"7394461f.c592b8","name":"Calibration - dose","info":"","x":108.25999450683594,"y":1034.4199829101562,"wires":[]},{"id":"d9621c2e.6ece9","type":"comment","z":"7394461f.c592b8","name":"Calibration - measure","info":"","x":126.13999938964844,"y":1241.7999877929688,"wires":[]},{"id":"a1c2bf7c.6abcf","type":"comment","z":"7394461f.c592b8","name":"Calibration - results","info":"","x":104.57998657226562,"y":1450.2201538085938,"wires":[]},{"id":"d73b93e6.c5c7d","type":"ui_ui_control","z":"7394461f.c592b8","name":"ui control","x":308.41998291015625,"y":1280.25,"wires":[[]]},{"id":"ddb48c2c.dabd1","type":"ui_button","z":"7394461f.c592b8","name":"","group":"a07f7389.17d8f","order":3,"width":"4","height":"2","label":"Next Page","color":"white","bgcolor":"","icon":"fa-arrow-circle-o-right","payload":"Calibration - results","payloadType":"str","topic":"","x":124.18997192382812,"y":1281.2899780273438,"wires":[["d73b93e6.c5c7d"]]},{"id":"5d38d5b9.2d6c5","type":"ui_button","z":"7394461f.c592b8","name":"","group":"a07f7389.17d8f","order":2,"width":"4","height":"2","label":"Start Over","color":"white","bgcolor":"","icon":"fa-retweet","payload":"Calibration - begin","payloadType":"str","topic":"","x":126.30999755859375,"y":1331.8399963378906,"wires":[["d73b93e6.c5c7d"]]},{"id":"2aa188fc.3a962","type":"ui_ui_control","z":"7394461f.c592b8","name":"ui control","x":280,"y":1620,"wires":[[]]},{"id":"915344ab.b3b178","type":"ui_button","z":"7394461f.c592b8","name":"","group":"ddcb8d8b.a7458","order":2,"width":"4","height":"2","label":"Save","color":"white","bgcolor":"","icon":"fa-save","payload":"{{msg.payload}}","payloadType":"flow","topic":"dosepumpMacroCalibration","x":512.6098937988281,"y":1579.9900512695312,"wires":[["bb10cd33.4850d"]]},{"id":"24a424a2.38cde8","type":"ui_button","z":"7394461f.c592b8","name":"","group":"ddcb8d8b.a7458","order":1,"width":"4","height":"2","label":"Start Over","color":"white","bgcolor":"","icon":"fa-retweet","payload":"Calibration - begin","payloadType":"str","topic":"","x":110,"y":1620,"wires":[["2aa188fc.3a962"]]},{"id":"bb10cd33.4850d","type":"link out","z":"7394461f.c592b8","name":"","links":["9447146c.f508a8"],"x":709.8298950195312,"y":1577.5198974609375,"wires":[]},{"id":"6a9baa39.8c6cf","type":"ui_text","z":"7394461f.c592b8","group":"ddcb8d8b.a7458","order":0,"width":0,"height":0,"name":"","label":"Old Rate","format":"{{msg.payload}} ml/s","layout":"row-center","x":99.82997131347656,"y":1520.1599731445312,"wires":[]},{"id":"8e8b3961.ac96e","type":"ui_text","z":"7394461f.c592b8","group":"ddcb8d8b.a7458","order":0,"width":0,"height":0,"name":"","label":"New Rate","format":"{{msg.payload}} ml/s","layout":"row-center","x":300.87998962402344,"y":1525.4300537109375,"wires":[]},{"id":"29942f3f.cdf5ac","type":"function","z":"7394461f.c592b8","name":"Set Flow Var","func":"var ml = parseFloat(msg.payload) || 0;\n\nmsg.payload = (ml / 30);\n\nreturn msg;","outputs":1,"noerr":0,"x":326.3199768066406,"y":1380.4498596191406,"wires":[["8e8b3961.ac96e","915344ab.b3b178"]]},{"id":"20f2b31c.7d0d8c","type":"function","z":"dad5d260.d267e","name":"","func":"\nvar value  = context.get('value') || 60000;\n\nif (msg.topic == \"value\")\n{\n  value = msg.payload * 1000;\n  context.set('value',value);  \n}\n\nelse if (msg.topic == \"start\")\n{\n\nvar timer = setTimeout(function(){msg.payload = \"now\";node.send([msg,{ payload: \"Done\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop)},value);\ncontext.set('timer',timer); \n\nvar count = value/1000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]) }, 1000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"stop\")\n{\nvar timerstop  = context.get('timer')\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown')\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":464.2099609375,"y":201.0500030517578,"wires":[["cd885b33.6becf"],["3f057417.6dcbf"]]},{"id":"cd885b33.6becf","type":"debug","z":"dad5d260.d267e","name":"","active":true,"console":"false","complete":"payload","x":644.2099609375,"y":161.0500030517578,"wires":[]},{"id":"db2348e1.838f68","type":"ui_button","z":"dad5d260.d267e","name":"","group":"d229014f.98d578","order":0,"width":0,"height":0,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":244.2099609375,"y":181.0500030517578,"wires":[["20f2b31c.7d0d8c"]]},{"id":"184fdcbc.93abaf","type":"ui_numeric","z":"dad5d260.d267e","name":"","label":"Seconds","group":"d229014f.98d578","order":0,"width":0,"height":0,"passthru":true,"topic":"value","format":"{{value}}","min":"1","max":"120","step":1,"x":242.62994384765625,"y":262.0999755859375,"wires":[["20f2b31c.7d0d8c"]]},{"id":"36d650af.9014e8","type":"ui_button","z":"dad5d260.d267e","name":"","group":"d229014f.98d578","order":0,"width":0,"height":0,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":244.2099609375,"y":221.0500030517578,"wires":[["20f2b31c.7d0d8c"]]},{"id":"3f057417.6dcbf","type":"ui_text","z":"dad5d260.d267e","group":"d229014f.98d578","order":0,"width":0,"height":0,"name":"","label":"Time Remaining","format":"{{msg.payload}} Seconds","layout":"row-spread","x":674.2099609375,"y":221.0500030517578,"wires":[]},{"id":"9cac1b74.abc678","type":"comment","z":"dad5d260.d267e","name":"Countdown Timer","info":"","x":216.14999389648438,"y":86.19000244140625,"wires":[]},{"id":"159b1dfd.fbd332","type":"config","z":"dad5d260.d267e","name":"Config Master","properties":[{"p":"microRate","pt":"global","to":"1.756","tot":"num"}],"active":true,"x":263.0199890136719,"y":365.05999755859375,"wires":[]},{"id":"593b465c.01c0fc","type":"function","z":"dad5d260.d267e","name":"on/off","func":"var switch_state = context.get('switch_state') || 1;\nswitch (msg.topic){\n    case 'on_off':\n        switch (msg.payload){\n            case true:\n                node.status({fill:\"green\",shape:\"dot\",text:\"enabled\"});\n                switch_state = 1;\n                break;\n            case false:\n                node.status({fill:\"red\",shape:\"dot\",text:\"disabled\"});\n                switch_state = 0;\n                break;\n        }\n        context.set('switch_state',switch_state);\n        return null;\n    default:\n        switch (switch_state){\n            case 0:\n                return null;\n            default:\n                return msg;\n        }}\n","outputs":1,"noerr":0,"x":805.2599487304688,"y":405.0899963378906,"wires":[["14d50c77.4fd79","bd7e9366.2ecf98"]]},{"id":"97cfba3f.fd25d","type":"ui_switch","z":"dad5d260.d267e","name":"log","label":"Event Log","group":"c9304b71.bbd0e","order":1,"width":0,"height":0,"passthru":true,"topic":"on_off","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":685.2599487304688,"y":405.0899963378906,"wires":[["593b465c.01c0fc"]]},{"id":"4d1fe474.a8933c","type":"inject","z":"dad5d260.d267e","name":"on","topic":"on/off","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":545.2599487304688,"y":385.0899963378906,"wires":[["97cfba3f.fd25d"]]},{"id":"12ade5a0.039b92","type":"inject","z":"dad5d260.d267e","name":"off","topic":"on/off","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":545.2599487304688,"y":425.0899963378906,"wires":[["97cfba3f.fd25d"]]},{"id":"c543958e.b8e858","type":"link in","z":"dad5d260.d267e","name":"write log","links":["1c5fa7c1.e3a058"],"x":730.2599487304688,"y":445.0899963378906,"wires":[["593b465c.01c0fc"]]},{"id":"14d50c77.4fd79","type":"file","z":"dad5d260.d267e","name":"write log","filename":"/home/pi/.node-red/log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":935.2599487304688,"y":405.0899963378906,"wires":[]},{"id":"bd7e9366.2ecf98","type":"debug","z":"dad5d260.d267e","name":"log message","active":true,"console":"false","complete":"payload","x":945.2599487304688,"y":445.0899963378906,"wires":[]},{"id":"cb2dacde.5e2c5","type":"comment","z":"dad5d260.d267e","name":"log","info":"","x":665.2599487304688,"y":445.0899963378906,"wires":[]},{"id":"a6a58e99.8602d","type":"ui_template","z":"dad5d260.d267e","group":"7eba0db5.3576b","name":"5 (blue)","order":14,"width":"1","height":"1","format":"<ng-md-icon icon=\"looks_5\" ng-style=\"{fill:msg.payload=='1'?'blue':'black'}\" size=\"32\"></ng-md-icon>","storeOutMessages":false,"fwdInMessages":false,"x":505.6800231933594,"y":576.8699951171875,"wires":[[]]},{"id":"cba8c209.44655","type":"function","z":"dad5d260.d267e","name":"","func":"var msg5 = {};\nmsg5.payload = 0;\nvar msg4 = {};\nmsg4.payload = 0;\nvar msg3 = {};\nmsg3.payload = 0;\nvar msg2 = {};\nmsg2.payload = 0;\nvar msg1 = {};\nmsg1.payload = 0;\n\nif (msg.payload == 5) {\n    msg5.payload = \"1\";\n}\nif (msg.payload == \"4\") {\n    msg4.payload = \"1\";\n}\nif (msg.payload == \"3\") {\n    msg3.payload = \"1\";\n}\nif (msg.payload == \"2\") {\n    msg2.payload = \"1\";\n}\nif (msg.payload == \"1\") {\n    msg1.payload = \"1\";\n}\n\nreturn [msg, msg5, msg4, msg3, msg2, msg1];","outputs":"6","noerr":0,"x":335.6800231933594,"y":596.8699951171875,"wires":[[],["a6a58e99.8602d"],["c127ae54.0fbdc"],["94933b18.738288"],["7e5d9398.ee0e4"],["2635b8e9.6fbf6"]]},{"id":"c127ae54.0fbdc","type":"ui_template","z":"dad5d260.d267e","group":"7eba0db5.3576b","name":"4 {green}","order":15,"width":"1","height":"1","format":"<ng-md-icon icon=\"looks_4\" ng-style=\"{fill:msg.payload=='1'?'green':'black'}\" size=\"32\"></ng-md-icon>","storeOutMessages":false,"fwdInMessages":false,"x":505.6800231933594,"y":616.8699951171875,"wires":[[]]},{"id":"94933b18.738288","type":"ui_template","z":"dad5d260.d267e","group":"7eba0db5.3576b","name":"3 (yellow)","order":16,"width":"1","height":"1","format":"<ng-md-icon icon=\"looks_3\" ng-style=\"{fill:msg.payload=='1'?'yellow':'black'}\" size=\"32\"></ng-md-icon>","storeOutMessages":false,"fwdInMessages":false,"x":505.6800231933594,"y":656.8699951171875,"wires":[[]]},{"id":"7e5d9398.ee0e4","type":"ui_template","z":"dad5d260.d267e","group":"7eba0db5.3576b","name":"2 (red)","order":17,"width":"1","height":"1","format":"<ng-md-icon icon=\"looks_two\" ng-style=\"{fill:msg.payload=='1'?'red':'black'}\" size=\"32\"></ng-md-icon>","storeOutMessages":false,"fwdInMessages":false,"x":495.6800231933594,"y":696.8699951171875,"wires":[[]]},{"id":"2635b8e9.6fbf6","type":"ui_template","z":"dad5d260.d267e","group":"7eba0db5.3576b","name":"1 (white)","order":18,"width":"1","height":"1","format":"<ng-md-icon icon=\"looks_one\" ng-style=\"{fill:msg.payload=='1'?'white':'black'}\" size=\"32\"></ng-md-icon>","storeOutMessages":false,"fwdInMessages":false,"x":505.6800231933594,"y":736.8699951171875,"wires":[[]]},{"id":"6aeaa547.a0b09c","type":"inject","z":"dad5d260.d267e","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":169.73001098632812,"y":583.27001953125,"wires":[["cba8c209.44655"]]},{"id":"2922bc1b.0155d","type":"function","z":"7394461f.c592b8","name":"Time Math","func":"\nvar value  = context.get('value') || 60000;\n\nif (msg.topic == \"value\")\n{\n  value = msg.payload * 1000;\n  context.set('value',value);  \n}\n\nelse if (msg.topic == \"start\")\n{\n\nvar timer = setTimeout(function(){msg.payload = \"now\";node.send([msg,{ payload: \"Done\" }]);var countdownstop  = context.get('countdown');clearInterval(countdownstop)},value);\ncontext.set('timer',timer); \n\nvar count = value/1000;\n//count = count -1 ;\nmsg.payload=count;\nnode.send([null,msg]);\nvar countdown = setInterval(function() {count=count-1;msg.payload=count; node.send([null,msg]) }, 1000);\ncontext.set('countdown',countdown);\n\n}\n\nelse if (msg.topic == \"stop\")\n{\nvar timerstop  = context.get('timer')\nclearTimeout(timerstop);\n\nvar countdownstop  = context.get('countdown')\nclearInterval(countdownstop);\n\n}\n\n\n","outputs":"2","noerr":0,"x":742.1099853515625,"y":1102.3700256347656,"wires":[["fa84257.4ca3358"],["a74f2608.8d62c8"]]},{"id":"fa84257.4ca3358","type":"debug","z":"7394461f.c592b8","name":"","active":true,"console":"false","complete":"payload","x":930,"y":1060,"wires":[]},{"id":"dd7b0ac6.e38038","type":"ui_button","z":"7394461f.c592b8","name":"","group":"eafc1b22.3c0ff8","order":2,"width":0,"height":0,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":502.1099853515625,"y":1082.3700256347656,"wires":[["2922bc1b.0155d"]]},{"id":"590125d1.c3c8","type":"ui_numeric","z":"7394461f.c592b8","name":"","label":"Seconds","group":"eafc1b22.3c0ff8","order":3,"width":0,"height":0,"passthru":true,"topic":"value","format":"{{value}}","min":"1","max":"120","step":1,"x":500.52996826171875,"y":1163.4199981689453,"wires":[["2922bc1b.0155d"]]},{"id":"9a0088b8.2d66b8","type":"ui_button","z":"7394461f.c592b8","name":"","group":"eafc1b22.3c0ff8","order":4,"width":0,"height":0,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":502.1099853515625,"y":1122.3700256347656,"wires":[["2922bc1b.0155d"]]},{"id":"a74f2608.8d62c8","type":"ui_text","z":"7394461f.c592b8","group":"eafc1b22.3c0ff8","order":5,"width":0,"height":0,"name":"","label":"Time Remaining","format":"{{msg.payload}} Seconds","layout":"row-spread","x":932.1099853515625,"y":1122.3700256347656,"wires":[]},{"id":"3dc5ff20.912f8c","type":"ui_button","z":"7394461f.c592b8","name":"","group":"eafc1b22.3c0ff8","order":7,"width":"3","height":"1","label":"Next Page","color":"white","bgcolor":"","icon":"fa-arrow-circle-o-right","payload":"Calibration - measure","payloadType":"str","topic":"","x":130.52001953125,"y":1154.0198669433594,"wires":[["52a17080.2997c4"]]},{"id":"6fae67db.a78e8","type":"ui_text","z":"7394461f.c592b8","group":"eafc1b22.3c0ff8","order":1,"width":0,"height":0,"name":"Selected Pump","label":"Selected Pump","format":"{{msg.payload}}","layout":"row-spread","x":141.9399871826172,"y":1071.5399932861328,"wires":[]},{"id":"72946509.2ae038","type":"debug","z":"46ad0f90.f2e8f","name":"","active":true,"console":"false","complete":"false","x":748.7899780273438,"y":330.0699920654297,"wires":[]},{"id":"acb76411.94c3d","type":"debug","z":"50afdb76.ed9f74","name":"config","active":true,"console":"false","complete":"payload","x":1030,"y":360,"wires":[]},{"id":"d5db86bb.03b488","type":"ui_text","z":"1fe8200e.21c624","group":"d65fa06a.d9342","order":5,"width":"4","height":"1","name":"Capacity","label":"Capacity","format":"{{msg.payload}}","layout":"row-center","x":389.29998779296875,"y":127.90998840332031,"wires":[]},{"id":"707de6b3.7ff8c","type":"ui_gauge","z":"1fe8200e.21c624","name":"","group":"d65fa06a.d9342","order":6,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"ml","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":399.30999755859375,"y":184.7699737548828,"wires":[]},{"id":"828b916b.8ac11","type":"inject","z":"1fe8200e.21c624","name":"","topic":"","payload":"5","payloadType":"num","repeat":"8","crontab":"","once":false,"x":154.5599822998047,"y":182.09999084472656,"wires":[["707de6b3.7ff8c","d5db86bb.03b488"]]},{"id":"4191918b.bacd2","type":"ui_template","z":"1fe8200e.21c624","group":"d65fa06a.d9342","name":"","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"x":400,"y":80,"wires":[[]]},{"id":"a8fec602.be603","type":"inject","z":"1fe8200e.21c624","name":"DosingPump1","topic":"pumpName","payload":"Macro","payloadType":"str","repeat":"","crontab":"","once":true,"x":162.47000122070312,"y":87.36000061035156,"wires":[["4191918b.bacd2"]]}]